.Button {
  cursor: pointer;
  color: var(--primary-color);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
